# Dependencies
node_modules/
package-lock.json

# Reports
reports/html-reports/*.html
reports/*.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

